<h1> Détail post</h1>

<a [routerLink]="['/posts/edit', postsService.post?.id]"> Modifier l'article </a>

<article *ngIf="postsService.post">
  <h2>{{postsService.post?.title}}</h2>
  <p>{{postsService.post?.summary}}</p>
  <p>{{postsService.post?.content}}</p>
</article>
