<form action="" (ngSubmit)="editPost()" >
    <label for="" >
        Titre
        <input type="text" [(ngModel)]="title" name="title">
    </label>
    <label for="">
        Accroche (max 50 mots)
        <input type="text" [(ngModel)]="summary" name="summary">
    </label>
    <label for="">
        Contenu
        <textarea name="" id="" cols="30" rows="10" [(ngModel)]="content" name="content"></textarea>
    </label>
    <button> Ajouter l'article </button>
</form>

