<h1> Listes des articles </h1>

<button [routerLink]="['/posts/add']"> Ajouter un article </button>

<article *ngFor="let post of postsService.posts">
  <h2>{{post?.title}}</h2>
  <p>{{post?.summary}}</p>
  <a [routerLink]="['/posts', post?.id]"> Voir le détail </a>
</article>
